/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $ff-default;
  font-size: $fz-default;
  line-height: $lh-default;
  color: $color-base-font;
}
